:root {
    --blue: #0d76ee;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-padding-top: 60px;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

body {
    margin: 0;
    background-color: var(--blue);
    overflow: hidden;
}

.background-img {
    height: 100vh;
    width: 100vw;
    position: absolute;
    object-fit: cover;
    z-index: 0;
}

#navbar {
    position: fixed;
    background: #333;
    padding-top: auto;
    width: 100%;
    top: 0;
    height: 60px;
    z-index: 999;
    overflow-x: auto;
    display: flex;
    align-items: center;
}

#navbar ul {
    list-style-type: none;
    font-weight: bold;
    font-family: Trebuchet MS, sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
    white-space: nowrap;
}

#navbar li {
    display: inline-block;
}

.home {
    background-color: var(--blue);
}

#navbar .home:hover {
    background-color: white;
    color: var(--blue);
}

#navbar a {
    text-decoration: none;
    color: white;
    padding: 10px;
}

#navbar a:hover {
    background-color: var(--blue);
}

#welcome-left {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    height: 100%;
    justify-content: space-evenly;
}

#welcome-right {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 100%;
    overflow: auto;
}

#welcome-section {
    background-image: url('./files/background.jpg');
    background-size: cover;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: flex-start;
    margin-top: 60px;
}

section {
    height: 100vh;
    width: 100vw;
}

.background-title {
    z-index: 3;
    color: white;
    background-color: black;
    opacity: 70%;
    border: 2px solid transparent;
    transition: transform .2s ease, opacity 1s ease;
    padding: auto;
}

.background-text {
    color: white;
    opacity: 0.7;
    background-color: black;
    padding: 10px;
    width: 90%;
    overflow: auto;
    transition: transform .2s ease-in-out;
}

#intro-text {
    display: flex;
    flex-direction: column;
    overflow: auto;
}

#pfp {
    padding: 10px;
    background-color: black;
    opacity: 100%;
    z-index: 2;
    transition: transform 0.2s ease;
    overflow: auto;
}

.pic {
    height: 60vh;
    width: 100%;
    filter: grayscale(1);
    transition: filter .75s ease;
}

#pfp:hover {
    transform: scale(1.05);
}

#pfp:hover .pic {
    filter: grayscale(0);
}

.background-text:hover, .background-title:hover{
    transform: scale(1.025);
    opacity: 0.9;
}

.background-text:hover .make-blue{
    color: var(--blue);
}

h1 {
    font-size: 4rem;
}

.small_txt {
    font-size: 1.25rem;
    flex-wrap: wrap;
    margin: 0;
}

.small_txt a {
    color: var(--blue);
}

.small_txt a:hover {
    color: yellowgreen;
}

#pic-caption {
    color: white;
    font-family: Verdana, sans-serif;
}

.big_txt {
    margin: 0;
    font-size: 4rem;
    color: var(--blue);
}

.sml-caption {
    font-size: .75rem;
}

#welcome-msg {
    font-size: 5rem;
}

.strikethrough {
    text-decoration: line-through;
}

@media only screen and (max-width: 768px) {
    #pfp {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 10px;
    }

    .pic {
        height: auto;
        max-width: 75%;
        filter: grayscale(0);
    }
    
    #welcome-section {
        display: flex;
        height: auto;
        flex-direction: column;
        background-image: url('./files/background.jpg');
    }

    #welcome-left {
        display: flex;
        width: 100%;
    }

    #welcome-right {
        width: 100%;
        height: 100%;
    }

    #intro-text {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .background-text, .background-title {
        opacity: 0.9;
    }

    #welcome-msg, .background-title {
        max-width: 100%;
    }

    #welcome-msg{
        font-size: 4rem;
        word-wrap: break-word;
    }

    .make-blue{
        color: var(--blue);
    }
}

/* Contact Section */
#contact {
    background-color: #333;
    bottom: 0px;
    padding: 20px;
}

.footer-title {
    font-size: 2rem;
    font-family: Trebuchet MS, sans-serif;
    text-align: center;
    padding: 10px;
}


.social-icons:hover {
    color: var(--blue);
    transform: scale(1.1);
    color: var(--blue);
}

.footer-body {
    text-align: center;
}

.footer-body p{
    font-size: 1.5rem;
    font-family: Arial, Helvetica, sans-serif;
    color:white;
    transition: color .2s ease, transform .2s ease;
}

.footer-body p:hover {
    color: var(--blue);
    transform: scale(1.1);
}

.social-icons {
    font-size: 4rem;
    text-decoration: none;
    color: white;
    display: inline-block;
    margin: 0 10px;
    transition: transform 0.3s ease, color 0.3s ease;
}

/* Project Part */
#projects {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 25px;
    background-color: beige;
}

.projects-div {
    width: 90%;
    height: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid black;
    background-color: var(--blue);
}

.projects-list {
    width: 100%;
    height: 100%;
    margin: 20px;
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(2, 1fr);
    overflow-y: auto;
    justify-items: center;
    align-items: center;
}

@media only screen and (max-width: 425px) {
    .projects-list {
        grid-template-columns: 1fr;
    }

    .big_txt {
        font-size: 3rem;
    }
}

.project-tile {
    border: 2px solid white;
    background-color: wheat;
    width: 90%;
    height: 90%;
}

.black_background {
    background-color: black;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    padding: 20px;
    width: 100%;
    text-align: center;
}