:root {
    --text-background: black;
}

html {
    scroll-padding-top: 70px;
    overflow-x: hidden;
}
body {
    margin: 0;
    background-color: #3f80e8;
}

.background {
    height: 100vh;
    width: 100vw;
    position: relative;
}

#navbar {
    position: sticky;
    background: #333;
    border: 2px solid black;
    padding: 15px;
    margin: 0px;
    width: 100%;
    top: 0px;
    height: 35px;
    z-index: 999;
}

#navbar ul {
    list-style-type: none;
    font-weight: bold;
    font-family: Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

#navbar a {
    text-decoration: none;
    color: white;
    display: block;
    text-align: center;
    padding: 10px;
}

#navbar li {
    float: left;
}

#navbar a:hover {
    background-color: #3f80e8;
}

section {
    height: 100vh;
    width: 100vw;
}

div {
    background-color: black;
    opacity: 70%;
}

h1 {
    font-size: 5rem;
    position: absolute;
    top: 50%;
    left: 50%;
}



@media only screen and (min-width: 600px) {

}