@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Sans+Mono:ital,wght@0,400..700;1,400..700&display=swap');
@import "tailwindcss";

:root {
  --dark-blue: #1F2937;
  --white: #FFFFFF;
  --yellow: #FFD700;
  --light-yellow: #FFFF33;
  --light-blue: #2B394D;
}

html, body {
  @apply bg-[var(--dark-blue)] text-[var(--white)];
}

@theme {
  --font-ubuntu: "Ubuntu Sans Mono", monospace;
}


/* Animations */

.underline-hover::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  height: 2px; /* underline thickness */
  width: 0;
  background: var(--light-yellow);
  transition: width 0.5s ease;
}

.underline-hover:hover::after {
  width: 100%;
}
