@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Sans+Mono:ital,wght@0,400..700;1,400..700&display=swap');
@import "tailwindcss";

:root {
  --dark-blue: #1F2937;
  --white: #FFFFFF;
  --yellow: #FFD700;
}

html, body {
  @apply bg-[var(--dark-blue)] text-[var(--white)];
}

@theme {
  --font-ubuntu: "Ubuntu Sans Mono", monospace;
}